# Importing Libraries

In [42]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Defining Functions

In [46]:
def load_data(file_path, sheet_name):
    """Load data from an Excel file and replace '?' with NaN."""
    data = pd.read_excel(file_path, sheet_name=sheet_name, na_values='?')
    return data

def check_missing_values(data):
    """Check for missing values in each attribute and print the number of missing values."""
    missing_values = data.isna().sum()
    return missing_values

def study_data_types(data):
    """Study data types and associated values for each attribute."""
    data_types = data.dtypes
    classified_types = {}
    for col, dtype in data_types.items():
        if pd.api.types.is_numeric_dtype(dtype):
            classified_types[col] = 'Numeric'
        else:
            classified_types[col] = 'Nominal'
    return classified_types

def identify_encoding_schemes(data):
    """Identify encoding schemes for categorical attributes."""
    categorical_cols = data.select_dtypes(include=['object']).columns
    nominal_cols = []
    ordinal_cols = []

    for col in categorical_cols:
        unique_vals = data[col].nunique()
        if unique_vals <= 5:  # Assuming ordinal columns have 10 or fewer unique values
            ordinal_cols.append(col)
        else:
            nominal_cols.append(col)
    return nominal_cols, ordinal_cols

def study_numeric_data_range(data):
    """Study the data range for numeric variables."""
    numeric_data = data.select_dtypes(include=[np.number])
    data_range = numeric_data.agg(['min', 'max'])
    return data_range

def detect_outliers(data):
    """Detect outliers in numeric data."""
    numeric_data = data.select_dtypes(include=[np.number])
    outliers = {}
    for col in numeric_data.columns:
        Q1 = numeric_data[col].quantile(0.25)
        Q3 = numeric_data[col].quantile(0.75)
        IQR = Q3 - Q1
        outliers[col] = ((numeric_data[col] < (Q1 - 1.5 * IQR)) | (numeric_data[col] > (Q3 + 1.5 * IQR))).sum()
    return outliers

def calculate_mean_variance(data):
    """Calculate mean and variance (or standard deviation) for numeric variables."""
    numeric_data = data.select_dtypes(include=[np.number])
    mean_values = numeric_data.mean()
    variance_values = numeric_data.var()
    return mean_values, variance_values

# Loading Database

In [44]:
file_path = '/content/Lab Session Data (1).xlsx'
sheet_name = 'thyroid0387_UCI'

# Load data
data = load_data(file_path, sheet_name)

# Processing Data and Printing Results

In [47]:
data_types = study_data_types(data)
print("Data types and associated values:")
for col, dtype in data_types.items():
    if dtype == 'Numeric':
        print(f"{col}: Categorical")
    else:
        print(f"{col}: Nominal")

nominal_cols, ordinal_cols = identify_encoding_schemes(data)
print("\nEncoding Schemes:")
print(f"Nominal columns: {nominal_cols}")
print(f"Ordinal columns: {ordinal_cols}")

# Study numeric data range
data_range = study_numeric_data_range(data)
print("\nData range for numeric variables:")
print(data_range)

# Check for missing values
missing_values = check_missing_values(data)
print("\nMissing values in each attribute:")
print(missing_values)

# Detect outliers
outliers = detect_outliers(data)
print("\nNumber of outliers detected in each numeric attribute:")
print(outliers)

# Calculate mean and variance (or standard deviation) for numeric variables
mean_values, variance_values = calculate_mean_variance(data)
print("\nMean values of numeric attributes:")
print(mean_values)
print("\nVariance values of numeric attributes:")
print(variance_values)

Data types and associated values:
Record ID: Categorical
age: Categorical
sex: Nominal
on thyroxine: Nominal
query on thyroxine: Nominal
on antithyroid medication: Nominal
sick: Nominal
pregnant: Nominal
thyroid surgery: Nominal
I131 treatment: Nominal
query hypothyroid: Nominal
query hyperthyroid: Nominal
lithium: Nominal
goitre: Nominal
tumor: Nominal
hypopituitary: Nominal
psych: Nominal
TSH measured: Nominal
TSH: Categorical
T3 measured: Nominal
T3: Categorical
TT4 measured: Nominal
TT4: Categorical
T4U measured: Nominal
T4U: Categorical
FTI measured: Nominal
FTI: Categorical
TBG measured: Nominal
TBG: Categorical
referral source: Nominal
Condition: Nominal

Encoding Schemes:
Nominal columns: ['referral source', 'Condition']
Ordinal columns: ['sex', 'on thyroxine', 'query on thyroxine', 'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery', 'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium', 'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'T3 measured', 'TT4 measured', 'T4U measured', 'FTI measured', 'TBG measured']

Data range for numeric variables:
     Record ID    age      TSH     T3    TT4   T4U    FTI    TBG
min  840801013      1    0.005   0.05    2.0  0.17    1.4    0.1
max  870119035  65526  530.000  18.00  600.0  2.33  881.0  200.0

Missing values in each attribute:
Record ID                       0
age                             0
sex                           307
on thyroxine                    0
query on thyroxine              0
on antithyroid medication       0
sick                            0
pregnant                        0
thyroid surgery                 0
I131 treatment                  0
query hypothyroid               0
query hyperthyroid              0
lithium                         0
goitre                          0
tumor                           0
hypopituitary                   0
psych                           0
TSH measured                    0
TSH                           842
T3 measured                     0
T3                           2604
TT4 measured                    0
TT4                           442
T4U measured                    0
T4U                           809
FTI measured                    0
FTI                           802
TBG measured                    0
TBG                          8823
referral source                 0
Condition                       0
dtype: int64

Number of outliers detected in each numeric attribute:
{'Record ID': 0, 'age': 4, 'TSH': 884, 'T3': 360, 'TT4': 422, 'T4U': 420, 'FTI': 501, 'TBG': 29}

Mean values of numeric attributes:
Record ID    8.529473e+08
age          7.355582e+01
TSH          5.218403e+00
T3           1.970629e+00
TT4          1.087003e+02
T4U          9.760557e-01
FTI          1.136407e+02
TBG          2.987006e+01
dtype: float64

Variance values of numeric attributes:
Record ID    5.748625e+13
age          1.401801e+06
TSH          5.848662e+02
T3           7.877962e-01
TT4          1.407951e+03
T4U          4.014431e-02
FTI          1.726540e+03
TBG          4.443876e+02
dtype: float64